<head>
<link rel="stylesheet" href="styles.css">
	
	<title>Real Ultimate History</title>
	<meta name="Author" content="Roland Edwards">
	
</head>
<body>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>

	<div id='app'>
		<div>
			<a v-bind:href="'/#/'"><img src="./static_images/ruh_logo.jpg" class='logo'></a>
		</div>
		<div class='title'>
			<a v-bind:href="'/#/'">Real, Ultimate History</a>	
		</div>
		<div class='ruhtop'>
			<span class='tagline'>'The internet's best history site!' - No-one</span>
			<span class='search'>
				<label for='search_option'>Search for:</label>
				<select id='search_option' v-model='search_option'>
					<option value='person'>People</option>
					<option value='event'>Events</option>
				</select>
				<input v-model='search_term' v-on:input='search(search_option)' id='search' autocomplete='off'>
				<div v-if='!input_empty' class='dropdown-content'>
					<div v-for='r in search_results' >
						<p><a v-bind:href="'/#/' + search_option + '/' + r.id" v-on:click='clearSearch'>{{r.name}}</a></p>
					</div>
				</div>
				<button v-if='!loggedin' class='login'><a v-bind:href="'/#/login'">Log in</a></button>
				<button v-else v-on:click='logout' class='login'>Logout</button>
			</span>
		</div>
		<div class='sidenav'>
			<ul>
				<li><a v-bind:href="'/#/'">Home</a></li>
				<li><a v-bind:href="'/#/people_index'">People Index</a></li>
				<li ><a v-bind:href="'/#/events_index'">Events Index</a></li>
					
			</ul>
		</div> 
		
		<router-view class='main' v-on:login='logged_in'></router-view>

	</div>

<script src='bundle.js'></script>



</body>



